# Bytecode
__pycache__/
*.pyc

# Logs, temporäre Dateien
tmp/
*.log

# SQLite-Datenbanken
*.db

# Excel-/PDF-Dateien
*.xlsx
*.pdf

# Upload-Verzeichnis und Backup-Dateien ausschließen
upload/
*.bak

# Streamlit Cache
.streamlit/
*.cache/
